html
{
    font-family: Verdana, sans-serif;
    font-weight: bold;

    color:rgb(248, 56, 120);

    /* source:https://kinsta.com/blog/css-text-outline/ */
    -webkit-text-stroke-color: rgb(117, 21, 66);
}

body
{
    background-image: url("image/beach.jpg");
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
}

div
{
    /* source:https://kinsta.com/blog/css-text-outline/ */
    -webkit-text-stroke-width: 2px;

    background:rgb(243, 223, 200);
    border-color:rgb(59, 40, 37);

    background-image: url("image/wood.jpg");

    border-style: solid;
    border-width: 6px;
    border-radius: 10px;

    width: auto-fit;
    
    margin-left: 10%;
    margin-right: 10%;
    margin-top: 1%;

    padding-left: 1%;
    padding-right: 1%;
    padding-bottom: 1%;
}

h1
{
    text-align: center;
    font-size: 56px;

    /* source:https://kinsta.com/blog/css-text-outline/ */
    -webkit-text-stroke-width: 3px;

    background:rgb(243, 223, 200);
    border-color:rgb(59, 40, 37);

       background-image: url("image/wood.jpg");

    border-style: solid;
    border-width: 6px;
    border-radius: 10px;

    width: auto-fit;

    margin-left: 35%;
    margin-right: 35%;

    padding-top: 1%;
    padding-bottom: 1%;
}

h2
{
    font-size: 42px;
    color:rgb(59, 124, 177);
    -webkit-text-stroke-color: rgb(19, 4, 56);
}

h3
{
    font-size: 36px;
    color:rgb(59, 124, 177);
    -webkit-text-stroke-color: rgb(19, 4, 56);
}

p
{
    font-size: 32px;
}